<mat-toolbar class="toolbar bg-secondary text-white">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span><img
    src="https://firebasestorage.googleapis.com/v0/b/beekideeapp.appspot.com/o/beekidee-logo.png?alt=media&token=c753b18f-73ab-478b-ad89-de9b83fb4eea"
    alt="BeeKideeLogo" width="80px"></span>
  <button class="" mat-button routerLink="/console/admin/dashboard/constructivism" (click)="openPopup('0ms','0ms')">
    Constructivism
  </button>

  <button class="" mat-button routerLink="/console/admin/dashboard/constructivism-plus-attention"
          (click)="openPopup('0ms','0ms')">Constructivism + Attention Monitoring
  </button>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-list>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="container-fluid">
      <app-lessons-context></app-lessons-context>
    </div>
  </div>
</mat-drawer-container>
